<div class="body">
  <div class="login">
    <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>

    <form  *ngIf="!loading" [formGroup]="form" (ngSubmit)="ingresar()">
    <img src="assets/img/man.png" width="50%">
    <h1>Login</h1>
    <mat-form-field class="ancho" appearance="fill">
      <mat-label>User</mat-label>
      <input type="text" matInput autocomplete="off" formControlName="user">
    </mat-form-field>
    <mat-form-field class="ancho" appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput autocomplete="off" formControlName="password">
    </mat-form-field>
    <br>
    <button type="submit" class="ancho button" mat-raised-button color="primary" [disabled]="form.invalid">Ingresar</button>
    </form>
  </div>
</div>
