<div class="container">
  <mat-toolbar>
    <span>Create User</span>
    <div class="example-spacer"></div>
  </mat-toolbar>
  <mat-card>
    <mat-card-content style="margin-top: 10px">
      <form [formGroup]="form" (ngSubmit)="addUser()">
        <mat-grid-list cols="4" rowHeight="70px">
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>User</mat-label>
              <input matInput autocomplete="off" formControlName="user">
            </mat-form-field>

          </mat-grid-tile>
          <mat-grid-tile [colspan]="3" [rowspan]="5">
            <img src="./assets/img/man.png" width="250" height="250">
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Name</mat-label>
              <input matInput autocomplete="off" formControlName="name">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>LastName</mat-label>
              <input matInput autocomplete="off" formControlName="lastname">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Sex</mat-label>
              <mat-select  formControlName="sex">
                @for (item of sex; track item) {
                  <mat-option [value]="item.value">{{item.viewValue}}</mat-option>
                }
              </mat-select>
            </mat-form-field>

          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <button mat-raised-button style="margin-right: 20px">Back</button>
            <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary">Accept</button>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </mat-card-content>
  </mat-card>
</div>
